colormath==3.0.0
Django==4.0.3
djangorestframework==3.13.1
djangorestframework_xml==2.0.0
joblib==1.1.0
opencv_python==4.5.5.64
scikit_learn==1.0.2
tqdm==4.63.0
django-mathfilters==1.0.0

opencv-python~=4.5.5.64
sklearn~=0.0
scikit-learn~=1.0.2
requests~=2.27.1
gunicorn~=20.1.0
whitenoise~=6.0.0