{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<h2>Search</h2>
<form action="{% url 'vg_app:picture' %}" method="get">
  <input name="title" type="text" placeholder="Title" {% if request.GET.title %} value="{{ request.GET.title }}"{% endif %}>
  <input name="year" type="text" placeholder="Year" {% if request.GET.year %} value="{{ request.GET.year }}"{% endif %}>
  <input name="artist" type="text" placeholder="Artist" {% if request.GET.artist %} value="{{ request.GET.artist }}"{% endif %}>
  <input name="color" type="text" placeholder="Color" data-coloris {% if request.GET.color %} value="{{ request.GET.color }}"{% endif %}/>
  <button type="submit" class="button">Search</button>
</form>
{% if picture_list %}
<ul style="line-height: 100px;">
  {% for picture in picture_list %}
  <li>
    {% if picture.Year != None %}
    <img class="image-list" src ="{% static '/images/' %}{{picture.Artist.Artist_url}}/{{picture.Year}}/{{picture.Picture_ID}}.jpg" >
    <a href="{% url 'vg_app:picture-detail' pk=picture.id %}">{{ picture.Title }}</a>, {{ picture.Artist.Name }} ({{ picture.Year }})
    {% else %}
    <img class = "image-list" src ="{% static '/images/' %}{{picture.Artist.Artist_url}}/unknown-year/{{picture.Picture_ID}}.jpg" >
    <a href="{% url 'vg_app:picture-detail' pk=picture.id %}">{{ picture.Title }}</a>, {{ picture.Artist.Name }} (unknown)
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no pictures available.</p>
{% endif %}
{% endblock %}

