{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<h2>Picture List</h2>
{% if picture_list %}
<ul style="line-height: 100px;">
  {% for picture in picture_list %}
  <li>
    {% if picture.Year != None %}
    <img src ="{% static '/images/' %}{{picture.Artist.Artist_url}}/{{picture.Year}}/{{picture.Picture_ID}}.jpg" style="
            max-height:80px;
            max-width:100px;
            height:auto;
            width:auto;">
    <a href="{% url 'vg_app:picture-detail' pk=picture.id %}">{{ picture.Title }}</a>, {{ picture.Artist.Name }} ({{ picture.Year }})
    {% else %}
    <img src ="{% static '/images/' %}{{picture.Artist.Artist_url}}/unknown-year/{{picture.Picture_ID}}.jpg" style="
            max-height:80px;
            max-width:100px;
            height:auto;
            width:auto;">
    <a href="{% url 'vg_app:picture-detail' pk=picture.id %}">{{ picture.Title }}</a>, {{ picture.Artist.Name }} (unknown)
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no pictures available.</p>
{% endif %}
{% endblock %}