{% extends "base_generic.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}
<h2>{{ picture.Title }}</h2>
<div class="row" style="margin-left: 0px;">
    <div class="column">
        <p><strong>Author:</strong> <a href="">{{ picture.Artist.Name }}</a></p>
        <p><strong>Genre:</strong> {{ picture.Genre}}</p>
        <p><strong>Style:</strong> {{ picture.Style}}</p>
    </div>
    <div class="column">
        {% if picture.Year != None %}
        <img src ="{% static '/images/' %}{{picture.Artist.Artist_url}}/{{picture.Year}}/{{picture.Picture_ID}}.jpg" style="margin-left: 100px;
            max-height:500px;
            height:auto;
            width:auto;">
        {% else %}
        <img src ="{% static '/images/' %}{{picture.Artist.Artist_url}}/unknown-year/{{picture.Picture_ID}}.jpg" style="margin-left: 100px;
            max-height:500px;
            max-width:500px;
            height:auto;
            width:auto;">
        {% endif %}
    </div>
    <div class="column" style="height: 500px; margin-left: 100px">
        {% for color in picture.Color.all %}
        <div style="width: 50px; height:{{color.Quantity|mul:100}}%; background-color: {{color.Color}};"></div>
        {% endfor %}
        <div style="clear:both;"></div>
    </div>
</div>


{% endblock %}